# Ignore compiled binaries
*.out
*.in
*.pyc


#alla muita esimerkkejä

# Ignore dependencies directory
#node_modules/

# Ignore logs and temporary files
#*.log
#tmp/

# Ignore user-specific files
#.env
#.vscode/
